
body {
    color: #333333;
    font-size: 18px;
    font-family: "微軟正黑體";
    line-height: 2;
}

body.demos .section {
    background: url(images/bg.png) repeat top center #f2f3f5;
}

body.demos .section-title img {
    max-width: 280px;
    display: block;
    margin: 10px auto;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


a {
    color: #222222;
    text-decoration: none;
    outline: none;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


/*------------------------------------------------------------------
    全版底色          進入網頁 延遲畫面
-------------------------------------------------------------------*/

#preloader {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #333333;      /* 畫面開啟前 底色 */
    z-index: 11000;
    position: fixed;
    display: block;
}

#main-ld {
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    top: calc(50% - 17px);
    left: calc(50% - 35px);
}
#loader {
    width: 70px;
    height: 70px;
    border-style: solid;
    border-top-color:#FFF;
    border-right-color: #FFF;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotate 1s ease-in-out infinite;
    transform: rotate(-200deg)
}


/*------------------------------------------------------------------
    Navigation     導覽列
-------------------------------------------------------------------*/

#mainNav.navbar-shrink {             /* 上標題收縮 */
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #020730;     /* 上標題顏色 */
}

.img-fluid1 {
    max-width: 55px;                  /* 圖片尺寸限制 */
}

.navbar-brand {
	font-size: 30px;
    font-family: "Impact";  
}

.navbar-brand b:hover {
    color:#54ec75;        
}



.navbar-dark .navbar-nav .nav-link{
	color: #ffffff;
	letter-spacing: 1px;
	font-size: 14px;
	position: relative;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color: #54ec75;                     /* 滑鼠滑過之顏色 */
}
.navbar-dark .navbar-nav .nav-link.active{
	font-weight: 600;
}
.navbar-dark .navbar-nav .nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
    border-radius: 0px;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: -1;
}
.navbar-dark .navbar-nav .nav-link.active::after {
	width: 60%;      /* 文字引線長度 */
}


/*------------------------------------------------------------------
    綜合性       
-------------------------------------------------------------------*/

.section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 70px 0;
}

.section.w1 {
    background-color: #ffffff;
}

.section.w2 {
    background-color: #f2f3f5;
}

.section.db {
    background-color: #111111;
    color: #ffffff;
}

.section-title {
    display: block;
    position: relative;
    margin-top: -20px;
    margin-bottom: 40px;
}

.section-title h3 {
    font-size: 38px;
    font-weight: 500;
    line-height: 62px;
    margin: 0 0 25px;
    padding: 0;
    text-transform: none;
}


/*------------------------------------------------------------------
    HEADER   標題
-------------------------------------------------------------------*/

.main-banner {
	height: 100%;
	position: relative;
	display: table;
    width: 100%;
    text-align: center;
    /* background-position: center center; */
}
.main-banner::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 0;
    opacity: .3;                    /* 透明度 */
}
.heading {
	color: #fff;
	display: table-cell;
	vertical-align: middle;       /* 垂直對齊：中間 */
    position: relative;
    /* margin-left: 0px; */
	z-index: 10;
}
.heading h1 {
    font-family: Verdana;
	color: #ffffff;
	font-weight: 700;
	font-size: 62px;
	text-transform: uppercase;        /* 文字轉換：大寫  */
}
.heading p {
    font-size: 20px;
    margin-top: -50px;
	/* padding: 20px 0px; */
}

.heading h3 {
	color: ffffff;
}

.cd-headline.clip span {
    display: inline-block;
    color: #ffffff;
    font-size: 30px;
}
.cd-headline.clip span b {
	text-transform: uppercase;
}
.cd-headline.clip .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #aebcb9;
}
.cd-headline.clip b {
    opacity: 0;                 /* 不透明度 */
}
.cd-headline.clip b.is-visible {
    opacity: 1;
}

.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
  }
  .cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
  }
  .cd-words-wrapper b.is-visible {
    position: relative;
  }
  .no-js .cd-words-wrapper b {
    opacity: 0;
  }
  .no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
  }


/* ---------------------------------------------------- 
         關於我
---------------------------------------------------- */

.aboutme-box {
    position: relative;
    width: 95%;
    padding-top: 10px;
	font-size: 20px;
	font-style: "微軟正黑體";
    color: #333333;
    line-height: 35px;
	padding-bottom: 10px;
    padding-left: 20px;
    margin-top: -20px;
}

/* 
.right-box-pro {
	position: relative;
	-webkit-box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.3);
} */

.right-box-pro img {
    position: relative;
    box-shadow: 30px 30px 10px 5px #222222;     /*外框陰影*/
    z-index: 2; 
}

/* :before 插入元素*/
/* .right-box-pro:before {                     
    content: "";
    background: url(images/country-quilt-dark.png);
    box-shadow: 0px 0px 10px 5px #222222;     
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -20px;
    right: -20px;
    z-index: 0;
} */


/*------------------------------------------------------------------
       工作經歷
-------------------------------------------------------------------*/
.section.w3 {
    background-color: #f2f3f5;
}

.work-box {
    position: relative;
    border: 0px solid ;
    margin-top: -40px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.circle1 {                   /*圓形小圖 */
    position: relative;           
    border: 3px solid ;      /*文字框粗細, solid實線, 顏色: 無*/
    width: 13px;
    height: 13px;
    border-radius: 50%;       /*倒圓角 */
    left: 35px;
    top: 30px;
}
.job1 {
	position: relative;
    font-family: "微軟正黑體";
    width: 70%;
	line-height: 28px;
	font-size: 22px;
	left: 60px;
	margin-top: 10px;
}	
.job11 {
	position: relative;
    font-family: "微軟正黑體";
    width: 70%;
	line-height: 30px;
	font-size: 18px;
    left: 60px;
    margin-top: 10px;
}


/*------------------------------------------------------------------
         專業技能
-------------------------------------------------------------------*/

.skills-box {
    position: relative;
    background-color: none;
    box-shadow: 5px 5px 5px 5px #cccccc;     /*外框陰影*/
    border: 1px solid #ffffff;
    padding-bottom: 30px;
}

.skills-box1 {
    position: relative;
    background-color: none;
    /* border: 1px solid #000; */
    width: 500px;
    height: 40px;
    font-size: 24px;
    margin-left: 30px;
    margin-top: 20px;
}

.progress {
    background-color: #c8d9fc;
    border-radius: 0;           /*-- 邊界半徑：0 --*/
    box-shadow: none;
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden;
}

.progress-bar {
    background-color: #0752f3;   
}


/*------------------------------------------------------------------
         我的作品
-------------------------------------------------------------------*/

.logos img {
    margin: auto;
    display: block;
    text-align: center;
    width: 100%;
    opacity: 0.3;
}

.logos img:hover {
    opacity: 0.5;
}

.desc h3 i {
    color: #cccccc;
    font-size: 37px;
    vertical-align: middle;
    margin-right: 12px;
}

.desc {
    padding: 30px;
    position: relative;
    background: #000;
    border: 1px solid #111111;
}


.testimonial h4 {
    font-size: 18px;
    color: #333333;
    padding: 13px 0 0;
}


/* 
.testimonial img {             
    max-width: 55px;       
} */                          /* 圖片尺寸限制 */
/* 
.testimonial small {
    margin-top: 7px;
    font-size: 16px;
    display: block;
} */

.testimonial {
    background-color: transparent;
}

.testimonial h3 {
    padding: 0 0 10px;
    font-size: 20px;
    font-weight: 600;
	color: #ffffff;
}


.testimonial p:after {
    display: none;
}


/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/*------------------------------------------------------------------
         我的家庭
-------------------------------------------------------------------*/

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 1.5em;
  }
  
  h2 {
    text-align: center;
    color: #555;
    margin-bottom: 0;
  }
  
  .carousel {
    margin-top: -40px;             /* 調整高低位置 */
    padding: 20px;
    -webkit-perspective: 500px;
            perspective: 500px;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
  }
  .carousel > * {
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }
  .carousel figure {
    margin: 0;
    width: 40%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .carousel figure img {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0px;
  }
  .carousel figure img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
  }
  .carousel nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    margin-top: -20px;                  /* 調整nav框高低位置 */
  }
  .carousel nav button {
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    margin: 0 5px;
    cursor: pointer;
    color: #333;
    background: none;
    border: 1px solid;
    letter-spacing: 1px;
    padding: 5px 10px;
  }


/*------------------------------------------------------------------
         我的生活
-------------------------------------------------------------------*/


.post-box .date{
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 15px;
	background: #333333;
	color: #fff;
	padding: 10px 15px;
	text-align: center;
}

.post-thumb{
	position: relative;
}

.post-box{
	-webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
	box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
	background: #ffffff;
}

.post-box:hover .post-thumb::before{
	opacity: .6;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}


.post-box .post-thumb::before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(51, 51, 51, 0.80);
	opacity: 0;
	-webkit-transition: all .5s;
	transition: all .5s;
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
}

.post-info{
	padding: 0px 15px 40px 15px;
	background: #ffffff;
	text-align: left;
	margin-top: 40px;
}

.post-info p{
	margin: 0px;
}

.post-info h4{
	font-size: 20px;
	font-weight: 700;
}

.post-info ul{
	display: block;
	text-align: center;
	margin-bottom: 15px;
}
.post-info ul li{
	display: inline-block;
	text-align: center;
}


/*------------------------------------------------------------------
          聯絡我
-------------------------------------------------------------------*/

/*# sourceMappingURL=bootstrap-select.css.map */

.section-title1 {
    display: block;
    position: relative;
    margin-top: -45px;
    margin-bottom: -15px;
}

.section-title1 h3 {
    font-size: 38px;
    font-weight: 500;
    line-height: 62px;
    margin: 0 0 25px;
    padding: 0;
    text-transform: none;
}

/* 
.bootstrap-select > .btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-size: 15px;
    height: 33px;
    box-shadow: none !important;
    border: 0 !important;
    padding: 0;
    width: 100%;
    color: #bcbcbc !important;
} */

.contact_form {
    border: 1px solid #ededed;
    box-shadow: 30px 30px 10px 10px #0f0f0f;
    background-color: #f2f3f5;
    padding: 25px;
    z-index: 2;
}

 .contact_form .form-control {                     /* 訊息輸入框 */
    background-color: #ededed;                   
    margin-bottom: 30px;
    border: 1px solid #333333;
    box-sizing: border-box;
    color: #bcbcbc;
    font-size: 16px;
    outline: 0 none;
    padding: 10px 25px;
    height: 55px;
    resize: none;
    /* box-shadow: none !important; */           /* 輸入框無陰影 */
    width: 100%;
	border-radius: 0px;
}


#contact {
    background: url(images/bg.png) no-repeat center center #333333;
}


/* 
#contact .section-title p{
	color: #ffffff;
} */
/* 
.contact_form textarea.form-control{
	min-height: 225px;
} */



.form-group input:hover{
    position: relative;
    border:2px solid #0a70f5;
}

.help-block{
	position: absolute;
	top: 100%;
	left: 0px;
}



/* --------------------------------------------- 
       Send Message
-------------------------------------------- */

.btn-hover-new{
	color: #333333;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid #333333;
	overflow: hidden;
	padding: 0px 18px;
	display: inline-block;
}

.sim-btn{
	line-height: 50px;
	height: 50px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;               /* 按鍵框距離 */
	cursor: pointer;
}

.btn-hover-new::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: translate(-30%, 0);
    transform: translate(-30%, 0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-hover-new span {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-hover-new:hover{
	color: #ffffff;
	background-color: #333333;
}
.btn-hover-new:hover > span {
    opacity: 0;
    -webkit-transform: translate(0px,40px);
    transform: translate(0px,40px);
}
.btn-hover-new:hover::after {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}


.footer {
    padding: 90px 0 80px !important;
    color: #999;
    background-color: #1f1f1f;
}



/*------------------------------------------------------------------
    FOOTER
-------------------------------------------------------------------*/

.copyrights {
    border-top: 1px dashed rgba(255, 255, 255, 0.1);    
    background-color: #02052b;                          /* 下標題顏色 */
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    text-align: left;            /* 文字靠左 */
    /* padding: 10px; */
    overflow: hidden;            /* 指定如果内容溢出動作:内容会被修剪，并且其余内容是不可见的*/
}

.footer-distributed {
    font-weight: 300;
    font-size: 15px;
    color: #666;
    margin-top: 10px;
}

.footer-distributed a{
	color: #ffffff;
}

.footer-distributed a:hover{
	color: #54ec75;
}



/*------------------------------------------------------------------
   小方塊,整體畫面滑動至最上方
-------------------------------------------------------------------*/

.dmtop.show {
    bottom: 50px;
}

.dmtop {
    background-color: #cccccc;
    z-index: 100;
    width: 45px;
    height: 45px;
    line-height: 30px;
    position: fixed;
    bottom: -100px;
    border-radius: 50%;
    right: 50px;
    text-align: center;
    font-size: 28px;
    color: #222222 !important;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}


@keyframes rotate {
  0% { border-width: 10px; }
  25% { border-width: 3px; }
  50% { 
    transform: rotate(115deg); 
    border-width: 10px;
  }
  75% { border-width: 3px;}
  100% { border-width: 10px;}
}



/*------------------------------------------------------------------
    map
-------------------------------------------------------------------*/

/* .map-responsive {
    background: center;
} */



